body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.settings {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.settings div {
  display: flex;
  flex-direction: column;
}

.settings h3 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva;
}

.settings > div:not(:first-child) h3 {
  font-family: 'Segoe UI', Tahoma, Geneva;
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="number"],
input[type="color"] {
  width: 40px;
}

input[type="range"]{
  margin-left: 0.5rem;
}

input[type="color"] {
  background-color: transparent;
  border: solid 1px transparent;
}
